/* Activation-page */

.account-activated-container {
  padding: 0 20%;
  padding-top: 2%;
  height: 150px;
}

.account-activated-container p h3 {
  color: #376e06;
  font-weight: normal;
}

.account-activated-container .card {
  display: table;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60%;
  border-radius: 5px;
}

.account-activated-container .container {
  padding: 3px 3px;
}

/* ----------------------------------------------------------------- */

.customer-container {
  height: 850px;
  padding: 0 10%;
  margin-top:10px;
}
#header-down-contents li.active{
    background-color:#66ace2;

}

.card-big {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 57%;
  height: 362px;
  border-radius: 5px;
}

.account-summary {
  /*  padding:0px 1px 1px 1px;
*/
  margin-top: 2%;
  background-color: #052259;
  height: 5.2vh;
}


.account-summary-heading {
  display: inline-block;
  font-weight: bold;
  color: white;
  padding: 7.5px 0px 0 10px;
}

.account-summary-heading-refresh-icon {
  display: inline-block;
  padding-left: 30px;
  color: white;
}

.account-summary-card {
  display: inline-block;
  margin-left: 2%;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 37.5%;
  min-height: 54.2vh;
  border-radius: 5px;
}

.account-summary p {
  color: white;
  font-weight: bold;
}

.account-summary-table {
  width: 100%;
  height: 48vh;
  border-collapse: collapse;
}

.account-summary-table tr {
  border-bottom: 1px solid #eeeeee;
}

/* /------------------------------------------------------ */

.market-tabs-table .table-scroll {
  position: relative;
  max-width: 1280px;
  width: 105%;
  /*margin: auto;
*/
  display: table;
}

.market-tabs-table .table-wrap {
  width: 100%;
  display: block;
  height: 280px;
  overflow: auto;
  position: relative;
  z-index: 1;
}

.market-tabs-table .table-scroll table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.market-tabs-table .table-scroll th,
.table-scroll tr {
  padding: 5px 10px;
  border: 1px solid #eae7e7;
  background: #fff;
  vertical-align: top;
}

.table-scroll tr:nth-child(even) {
  background-color: #eeeeee;
}

.table-scroll td:nth-child(1) {
  width: 30%;
  font-weight: bold;
}

.table-scroll td:nth-child(2) {
  width: 15%;
}

.table-scroll td:nth-child(3) {
  width: 15%;
}

.table-scroll td:nth-child(4) {
  width: 15%;
}

.table-scroll td:nth-child(5) {
  width: 15%;
}

..table-scroll td:nth-child(6) {
  width: 15%;
}

.table-scroll tr:hover {
  background-color: #5cc7ea;
  cursor: pointer;
}

.market-tabs-table .faux-table table {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.market-tabs-table .faux-table table+table {
  top: auto;
  bottom: 0;
}

.market-tabs-table .faux-table table tbody,
.faux-table tfoot {
  visibility: hidden;
  border-color: transparent;
}

.market-tabs-table .faux-table table+table thead {
  visibility: hidden;
  border-color: transparent;
}

.market-tabs-table .faux-table table+table tfoot {
  visibility: visible;
  border-color: #000;
}

.market-tabs-table .faux-table thead th,
.faux-table tfoot th,
.faux-table tfoot td {
  background: #e0e0e0;
}

.market-tabs-table .faux-table {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
}

.market-tabs-table .faux-table thead,
.faux-table tfoot,
.faux-table thead th,
.faux-table tfoot th,
.faux-table tfoot td {
  position: relative;
  z-index: 2;
}

/* --------------------- */

.open-deals-tabs-table .open-deals-table-scroll {
  position: relative;
  width: 105%;
  /*margin: auto;
*/
  display: table;
}

.open-deals-tabs-table .open-deals-table-wrap {
  width: 95%;
  display: block;
  height: 232px;
  overflow: auto;
  position: relative;
  z-index: 1;
}

.open-deals-tabs-table .open-deals-table-scroll table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.open-deals-open-deals-tabs-table .open-deals-table-scroll th,
.open-deals-table-scroll tr {
  padding: 5px 10px;
  border: 1px solid #eae7e7;
  background: #fff;
  vertical-align: top;
}

.open-deals-table-scroll tr:nth-child(even) {
  background-color: #eeeeee;
}

.open-deals-table-scroll td:nth-child(1) {
  width: 20%;
}

/* .open-deals-table-scroll td:nth-child(2) {
  width: 12%;
}

.open-deals-table-scroll td:nth-child(3) {
  width: 12%;
  }

.open-deals-table-scroll td:nth-child(4) {
  width: 12%;
  }

.open-deals-table-scroll td:nth-child(5) {
  width: 12%;
  }

.open-deals-table-scroll td:nth-child(6) {
  width: 12%;
  }
.open-deals-table-scroll td:nth-child(7) {
  width: 12%;
  }
.open-deals-table-scroll td:nth-child(8) {
  width: 12%;
  }
.open-deals-table-scroll td:nth-child(9) {
  width: 12%;
  }
.open-deals-table-scroll td:nth-child(10) {
  width: 12%;
  }
.open-deals-table-scroll td:nth-child(11) {
  width: 12%;
  }
.open-deals-table-scroll td:nth-child(12) {
  width: 12%;
  } */

/* .open-deals-table-scroll td:nth-child(13) {
  width: 12%;
  } */

/* .open-deals-table-scroll tr:hover {
  background-color: #5cc7ea;
  cursor: pointer;
} */

.open-deals-tabs-table .open-deals-faux-table table {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  pointer-events: none;
}

.open-deals-open-deals-tabs-table .open-deals-faux-table table+table {
  top: auto;
  bottom: 0;
}

.open-deals-tabs-table .open-deals-faux-table table tbody,
.open-deals-faux-table tfoot {
  visibility: hidden;
  border-color: transparent;
}

.open-deals-tabs-table .open-deals-faux-table table+table thead {
  visibility: hidden;
  border-color: transparent;
}

.open-deals-tabs-table .open-deals-faux-table table+table tfoot {
  visibility: visible;
  border-color: #000;
}

.open-deals-tabs-table .open-deals-faux-table thead th,
.open-deals-faux-table tfoot th,
.open-deals-faux-table tfoot td {
  background: #e0e0e0;
}

.open-deals-tabs-table .open-deals-faux-table {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
}

.open-deals-tabs-table .open-deals-faux-table thead,
.open-deals-faux-table tfoot,
.open-deals-faux-table thead th,
.open-deals-faux-table tfoot th,
.open-deals-faux-table tfoot td {
  position: relative;
  z-index: 2;
}

/* ------------------------------- */

.delete-row-open-deals {
  width: auto;
  height: 18px;
  color: red;
  /* background-color: #a5170b; */
  font-weight: bold;
  padding-bottom: 15px;
}

.delete-row-open-deals:hover {
  color: #5cc7ea;
}

/* ------------ */

th,
td {
  border: 1px none #adadad6b;
  border-collapse: collapse;
  padding: 3px 1px 0px 6px;
  /*  margin: 2%;
*/
  height: 25px;
  min-height: 30px;
  text-align: left;
}

.table-container th {
  width: 65%;
}

/* TABS in Market Snapshot */

/* } */

.card-deals {
  display: inline-block;
  margin-top: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 97%;
  height: 330px;
  max-height: 350px;
  border-radius: 5px;
}

/* ----------------------------------------------- */

.card-big-container {
  width: 111%;
  padding: 5px;
  overflow: hidden;
  min-height: 350px;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  width: 13%;
  text-align: center;
  background: #e0e0e0;
  color: #052259;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  cursor: default;
}

ul.tabs li.current {
  background: #052259;
  color: white;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
}

.tab-content {
  display: none;
  background: #faf7f7;
  padding: 0;
  height: 278px;
  width: 85%;
}

.tab-content.current {
  display: inherit;
}

.currencies-table {
  width: 100%;
  max-width: 101%;
}

/* Deals Buttons */

.new-deal-button,
.new-limit-button {
  background-color: #ededed;
  /* Green */
  border: none;
  margin-right: 2%;
  font-weight: bold;
  border-radius: 5%;
  color: black;
  margin-top: 1%;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
}

/* DEALS TAB */

.card-deals-container {
  width: 98.5%;
  padding: 5px;
  overflow: auto;
  min-height: 330px;
}

ul.deals-tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.deals-tabs li {
  width: 12%;
  text-align: center;
  background: #e0e0e0;
  color: #052259;
  display: inline-block;
  padding: 10px 15px;
  cursor: default;
  font-weight: bold;
}

ul.deals-tabs li.current-deals {
  background: #052259;
  color: white;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
}

.tab-content-deals {
  display: none;
  background: #faf7f7;
  /* padding: 15px; */
  height: 256px;
  max-height: 260px;
  overflow: hidden;
}

.tab-content-deals.current-deals {
  display: inherit;
}

.open-deals {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
  margin: 2%;
  width: 97%;
  height: 25px;
  min-height: 30px;
  text-align: left;
}

.prev-next-button-container {
  padding-top: 10px;
  width: 20%;
  margin: 0 auto;
}

.previous-button,
.next-button {
  background-color: #faf7f7;
  color: black;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  cursor: default;
}

.previous-button:hover,
.next-button:hover {
  background-color: #e0e0e0;
}

.next-button {
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
}

/* ---------------------------MODAL----------------------- */

.wrap {
  padding: 40px;
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  min-width: 60px;
  padding: 8px 15px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #fff;
  background: #6b6;
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
  transition: color 0.1s ease;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.9);
}

.grey {
  background: grey;
  box-shadow: 0 2px 0 #666;
}

.red {
  background: #d94134;
  box-shadow: 0 2px 0 #ab3329;
}

.btn.btn-big {
  min-width: 100px;
  padding: 15px 20px;
  font-size: 18px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 5px;
  text-decoration: none;
  color: #aaaaaa;
  font-size: 30px;
}

.btn-close:hover {
  color: #919191;
}

.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.705);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal:target:before {
  display: block;
}

.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 10%;
}

.modal-dialog {
  z-index: 21;
  position: fixed;
  top: -100%;
  width: 50%;
  margin: 0 25%;
  border: #333333 solid 1px;
  border-radius: 5px;
  background: #fefefe;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-body {
  padding: 9px;
}

.modal-header,
.modal-footer {
  padding: 10px 20px;
}

.modal-header {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  border-bottom: #eeeeee solid 1px;
  background-color: #052259;
}

.select-style-modal {
  border: 1px solid #ccc;
  width: 177px;
  height: 3.6vh;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

.close-modal {
  display: inline-block;
  font-size: 40px;
  padding-top: 4px;
  float: right;
}

.close-modal a {
  color: white;
  text-decoration-line: none;
}

.close-modal a:hover {
  color: #5cc7ea;
}

.select-style-modal select {
  padding: 0px 8px;
  /* width: 130%; */
  height: 22px;
  border: none;
  margin-top: 1.9%;
  color: white;
  font-weight: bold;
  box-shadow: none;
  background: #052259;
  cursor: pointer;
}

.modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right;
}

.grid-container-modal {
  display: grid;
  grid-template-columns: 30% 30% auto;
}

.grid-item-modal {
  border: 1px none rgba(0, 0, 0, 0.8);
  padding: 3px;
  padding-bottom: 20px;
  /* border-bottom: 1px solid gray;  */
}

.select-style-modal-instrument {
  border: 1px solid #ccc;
  width: 178px;
  height: 3.6vh;
  overflow: hidden;
  cursor: pointer;
}

.select-style-modal-instrument select {
  padding: 0px 8px;
  /* width: 130%; */
  height: -4px;
  height: 28px;
  margin-top: -1.1%;
  color: #052259;
  font-weight: bold;
  box-shadow: none;
  background: #ffffff;
  cursor: pointer;
}

.accordion {
  padding: inherit;
  padding-top: 10px;
  color: #052259;
  cursor: pointer;
  font-weight: bold;
}

.active,
.accordion:hover {
  color: #5cc7ea;
}

.panel {
  padding: 0 10px;
  display: none;
  overflow: hidden;
}

.grid-container-accordion {
  display: grid;
  padding-top: 10px;
  grid-template-columns: auto auto;
}

.grid-item-accordion {
  /* border: 1px none rgba(0, 0, 0, 0.8); */
  padding: 3px;
  padding-bottom: 20px;
  /* border-bottom: 1px solid gray;  */
}

.grid-item-accordion input[type="number"] {
  padding: 6px 20px;
  width: 50%;
  font-weight: bold;
  /* font-size: 15px; */
  /* display: inline-block; */
  border: 1px solid #b9b7b7;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
  -webkit-appearance: textarea;
}

.place-order {
  width: 150px;
  height: 30px;
  font-weight: bold;
  color: white;
  background-color: #052259;
  cursor: pointer;
}

/* .place-order:hover {
  background-color: #5cc7ea;
} */

.sell-card {
  display: inline-block;
  margin-top: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 45%;
  height: 70px;
  max-height: 350px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}


/* .buy-card {
  display: inline-block;
  margin-top: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 45%;
  height: 60px;
  max-height: 350px;
  border-radius: 5px;
  
} */

#rotateArrow {
  transition: all 0.5s ease;
}

.rotated-image {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  transition: all 0.5s ease;
}

/* ------------------------------DOCUMENT UPLOAD------------------ */

.document-upload-container {
  height: auto;
  padding: 0 10%;
}

.document-upload-card-container {
  /* background-color: #ab3329; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  width: 100%;
  min-height: 83vh;
  height:auto;
  margin-top: 2%;
  border-radius: 5px;
}

.file-upload-section-card {
  /* background-color: #9b8684; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  /* display: inline-block; */
  width: 53%;
  height: auto;
  margin: 1.5%;
  border-radius: 5px;
  float: left;
}

.upload-1 input[type="file"],
.upload-2 input[type="file"],
.upload-3 input[type="file"],
.upload-4 input[type="file"] {
  display: none;
}

.upload-path-1,
.upload-path-2,
.upload-path-3,
.upload-path-4 {
  display: inline-block;
  padding: 10px;
  margin-left: 2%;
  min-width: 180px;
  font-style: italic;
}

.upload-1,
.upload-2,
.upload-3,
.upload-4 {
  display: inline-block;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  border: 2px solid #052259;
  font-weight: bold;
  color: #052259;
}

.upload-1:hover,
.upload-2:hover,
.upload-3:hover,
.upload-4:hover {
  background: #052259;
  color: white;
}

.upload-1:active,
.upload-2:active,
.upload-3:active,
.upload-4:active {
  background: #052259;
}

.upload-1:invalid+span,
.upload-2:invalid+span,
.upload-3:invalid+span,
.upload-4:invalid+span {
  color: red;
}

.upload-1:valid+span,
.upload-2:valid+span,
.upload-3:valid+span,
.upload-4:valid+span {
  color: white;
}

.document-status-card {
  /* background-color: #9b8684; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  display: inline-block;
  width: 41%;

  margin: 1.5%;
  border-radius: 5px;
}

.document-status-table {
  /* display: inline-block;
  margin-bottom: 78.5%; */
  width: 98%;
}

.document-status-table {
  border-collapse: collapse;
}

.document-status-table td,
.document-status-table th {
  border: 1px none #dddddd;
  text-align: left;
  padding: 8px;
  color: #8b8b8b;
}

.document-status-table tr:nth-child(even) {
  background-color: #eeeeee;
}

.document-status-table td:nth-child(3) {
  width: 50%;
}

/* --------------------------------- */

.modal-table-container table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border: 0px none black;
  border-collapse: collapse;
}

.modal-table-container th {
  text-align: center;
  border: 0px none black;
  border-collapse: collapse;
}

.modal-table-container table,
.modal-table-container td {
  width: 90%;
  text-align: center;
  border: 0px none black;
  border-collapse: collapse;
}

/* -------------DEALS TABLE------ */

.open-deals-table-container th {
  width: 10%;
}

.open-deals-table-container td {
  width: 10%;
}

.close-deals-table-container th {
  width: 10%;
}

.close-deals-table-container td {
  width: 10%;
}

.open-deals-table-container tr:nth-child(even) {
  background-color: #eeeeee;
}

.close-deals-table-container tr:nth-child(even) {
  background-color: #eeeeee;
}

.closed-deals-sorter select {
  padding-top: 2%;
}

.select-style {
  border: 1px solid #ccc;
  width: 150px;
  height: 3vh;
  overflow: hidden;
  cursor: pointer;
}

.select-style select {
  padding: 0px 8px;
  width: 98%;
  margin-left: 2px;
  border: none;
  height: 20px;
  margin-top: 2%;
  color: white;
  font-weight: bold;
  box-shadow: none;
  background: #052259;
  cursor: pointer;
}

.select-style select:focus {
  outline: none;
}

.export-close-data {
  width: 10%;
  margin: 4px 0px 1% 84%;
  padding-bottom: 3px;
  height: 20px;
  color: white;
  font-size: 98%;
  font-weight: bold;
  background: #052259;
  border-radius: 10%;
  border: 2px solid #66ace2;
  cursor: pointer;
}

.close-deals {
  width: 12%;
  margin: 4px 0px 1% 82%;
  padding-bottom: 3px;
  height: 20px;
  color: white;
  font-size: 98%;
  font-weight: bold;
  background: #052259;
  border-radius: 10%;
  border: 2px solid #66ace2;
  cursor: pointer;
}

#rows-s tr {}

#open-deals-table-header {
  width: 100%;
}

.open-deals-table-rows td {
  width: 100%;
}

#page-no-pagination {
  font-weight: 150%;
}

/* ------------DEPOSIT------------------ */

.deposit-container {
  max-height: 750px;
  min-height: 590px;
  /* background-color: #376e06; */
  padding: 0 10%;
}

.deposit-currency-select {
  border: 1px solid #ccc;
  width: 178px;
  height: 3.6vh;
  overflow: hidden;
  cursor: pointer;
}

.deposit-currency-select select {
  padding: 2px 8px;
  /* width: 130%; */
  height: 28px;
  margin-top: -1.1%;
  color: #052259;
  font-weight: bold;
  box-shadow: none;
  background: #ffffff;
  cursor: pointer;
}

.payment-method-for-label,
.deposit-currency-select {
  display: inline;
}

.deposit-heading table {
  width: 100%;
  border: 1px none #CCC;
  border-collapse: collapse;
}

.deposit-heading td {
  border: none;
}

.deposit-card-container {
  display: inline-block;
  margin-top: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 390px;
  max-height: 400px;
  border-radius: 5px;
}

/* ------------------------DEPOSIT TABS---------------- */

ul.deposit-tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.deposit-tabs li {
  width: 15%;
  text-align: center;
  background: #e0e0e0;
  color: #052259;
  display: inline-block;
  padding: 10px 15px;
  cursor: default;
  font-weight: bold;
}

ul.deposit-tabs li.current-deposit {
  background: #faf7f7;
  color: black;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
}

.tab-content-deposit {
  display: none;
  background: #faf7f7;
  padding: 15px;
  width: 97%;
  height: 321px;
  max-height: 325px;
  overflow: hidden;
}

.tab-content-deposit.current-deposit {
  display: inherit;
}

.deposit-card-container {
  padding: 3px;
}

ul.deposit-tabs li {
  width: 13%;
  text-align: center;
  background: #e0e0e0;
  color: #052259;
  display: inline-block;
  padding: 10px 15px;
  cursor: default;
  font-weight: bold;
}

.deposit-amount-card {
  display: inline-block;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  height: 290px;
  border-radius: 5px;
}

.deposit-amount-table {
  margin: 2%;
  /*height: 177px;*/
  background-color: #e0e0e0;
  border: 1px none #CCC;
  border-collapse: collapse;
  border-radius: 2.5%;
}
#depositm 
{
    margin-top:-10px;
}
.deposit-amount-table label {
  font-weight: bold;
}

.deposit-amount-table input[type="number"] {
  padding: 12px 20px;
  width: 100%;
  font-weight: bold;
  margin: 10px 0;
  /* display: inline-block; */
  border: 1px solid #efefef;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

.deposit-amount-table input[type="button"] {
  display: inline-block;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  border: 2px solid #052259;
  font-weight: bold;
  color: #052259;
  cursor: pointer;
}

.deposit-amount-table input[type="button"]:hover {
  background-color: #052259;
  color: white;
}

.place-order-button {
  margin-top: 1%;
  display: inline-block;
  padding: 10px;
  background: transparent;
  font-size: 13px;
  border: 2px solid #052259;
  font-weight: bold;
  color: #052259;
  cursor: pointer;
}

.place-order-button:hover {
  background-color: #052259;
  color: white;
}

.deposit-amount-table table {
  width: 100%;
  border: 1px none #CCC;
  border-collapse: collapse;
}

.deposit-amount-table td {
  border: none;
}

/* ------------ */

.deposit-history-card {
  display: inline-block;
  margin-top: 2%;
  margin-left: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 48%;
  height: 290px;
  overflow: hidden;
}

.deposit-history-card td {
  border: none;
}

.deposit-history-table-rows td {}

.deposit-history-card th {
  width: 10%;
}

.deposit-history-card td {
  width: 10%;
}

.deposit-history-card tr:nth-child(even) {
  background-color: #eeeeee;
}

/* Withdraw */

.withdraw-amount-card {
  display: inline-block;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  height: 290px;
  border-radius: 5px;
}

.withdraw-amount-table {
  margin: 2%;
  height: 177px;
  background-color: #e0e0e0;
  border: 1px none #CCC;
  border-collapse: collapse;
  border-radius: 2.5%;
}

.withdraw-amount-table label {
  font-weight: bold;
}

.withdraw-amount-table input[type="number"] {
  padding: 12px 20px;
  width: 100%;
  margin: 10px 0;
  /* display: inline-block; */
  border: 1px solid #efefef;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

.withdraw-amount-table input[type="button"] {
  color: white;
  width: 50%;
  font-size: 110%;
  margin-top: 5%;
  padding: 10px;
  text-align: center;
  word-spacing: 0.1%;
  border-color: #052259;
  font-weight: bold;
  background-color: #052259;
  -webkit-border-radius: 10px;
  text-decoration-line: none;
}

.withdraw-amount-table table {
  width: 100%;
  border: 1px none #CCC;
  border-collapse: collapse;
}

.dewithdraw-posit-amount-table td {
  border: none;
}

/* ------------ */

.withdraw-history-card {
  display: inline-block;
  margin-top: 2%;
  margin-left: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 48%;
  height: 290px;
  overflow: hidden;
}

.withdraw-history-card td {
  border: none;
}

.withdraw-history-card th {
  width: 10%;
}

.withdraw-history-card td {
  width: 10%;
}

.withdraw-history-card tr:nth-child(even) {
  background-color: #eeeeee;
}

/* Payment tab */

.payment-method-icons {
  width: 100%;
  height: 54px;
  text-align: center;
  vertical-align: middle;
}

.payment-method-icons img {
  margin: 1%;
}

.table-content-live>img,
.table-content-live>a {
  display: inline-block;
}

/* -------------wallet--------- */

.e-wallet-details input[type="text"],
input[type="number"],
select {
  padding: 2px 20px;
  width: 100%;
  margin: 10px 0;
  /* display: inline-block; */
  border: 1px solid #efefef;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

.e-wallet-details input[type="submit"] {
  color: white;
  width: 50%;
  font-size: 110%;
  margin-top: 5%;
  padding: 10px;
  text-align: center;
  word-spacing: 0.1%;
  border-color: #052259;
  font-weight: bold;
  background-color: #052259;
  -webkit-border-radius: 10px;
  text-decoration-line: none;
}

/* ---------------Change Password----------------- */

.change-password-container {
  /* background-color: #919191; */
  height: auto;
  padding: 0 10%;
  padding-top: 2%;
}

.change-password-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  width: 42%;
  min-height: 50vh;
  height:auto;
  border-radius: 5px;
      margin: 0% 0 0 30%;
}

.change-password {
  width: 50%;
  margin: 5% auto;
}

.change-password input[type="submit"] {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  font-size: 13px;
  border: 2px solid #052259;
  font-weight: bold;
  color: #052259;
  cursor: pointer;
  width: 60%;
  margin-bottom: 20px;
}

.change-password input[type="password"] {
  border: 1px solid #7e7e7e;
}

.change-password input[type="password"]:focus {
  border: 2px solid \#052259;
}

.change-password input[type="submit"]:hover {
  background-color: #052259;
  color: white;
}

/* ----------------MY ACCOUNT----------- */

.my-account-container {
  /* background-color: #919191; */
  min-height: 70vh;
  height:auto;
  padding: 0 10%;
  padding-top: 2%;
}   

.my-account-card {
  width: 100%;
  height: auto;
}

.my-account-activity-log-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  width: 90%;
  min-height: 29vh;
  height:auto;
  margin: 1% auto;
  border-radius: 5px;
}

input[type="date"] {
  border: 1px solid #ccc;
  width: 80%;
  height: 3.6vh;
  overflow: hidden;
  cursor: pointer;
}

.my-account-activity-log-card input[type="submit"] {
  width: 100%;
  margin: 4px 0px 1% auto;
  padding-bottom: 3px;
  height: 20px;
  color: white;
  font-size: 98%;
  font-weight: bold;
  background: #052259;
  border-radius: 10%;
  border: 2px solid #66ace2;
  cursor: pointer;
}

input[type="date"] {
  padding: 0px 8px;
  /* width: 130%; */
  height: 21px;
  margin-top: 1.9%;
  color: #ffffff;
  font-weight: bold;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="date"]:hover {
  background-color: transparent;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  /* display: none; */
  -webkit-appearance: none;
}

.unstyled:hover::-webkit-inner-spin-button,
.unstyled:hover::-webkit-calendar-picker-indicator {
  /* display: none; */
  /* -webkit-appearance: none; */
  background: transparent !important;
}

.table-log-table-container tr:nth-child(even) {
  background-color: #eeeeee;
}

.my-account-activity-log-card .sorter {
  color: white;
}

.table-log-table-container td:nth-child(1),
.table-log-table-container th:nth-child(1) {
  width: 30%;
}

.table-log-table-container td:nth-child(2),
.table-log-table-container th:nth-child(2) {
  width: 30%;
}

.table-log-table-container td:nth-child(3),
.table-log-table-container th:nth-child(3) {
  width: 30%;
}

.table-log-table-container td:nth-child(4),
.table-log-table-container th:nth-child(4) {
  width: 30%;
}

#deposit-history-table-rows-nav a,
#withdraw-history-table-rows-nav a,
#table-log-table-rows-nav a {
  cursor: pointer;
}

/* Profile Info */
.profile-info-container {
  /* background-color: #919191; */
  height: 70vh;
  padding: 0 10%;

}
.profile-info-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  width: 100%;
  min-height: 65vh;
  min-height: 65vh;height: auto;
  margin: 0% auto;
  border-radius: 5px;
}
.profile-info form{
  width: 98%;
}

.profile-info input[type="text"], 
 .profile-info input[type="date"],
 .profile-info input[type="number"],
 .profile-info select{
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0.9% 4px 10px 0;
  display: inline-block;
  width: 300px;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none
}
.profile-info input[type="submit"] {
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    font-size: 13px;
    border: 2px solid #052259;
    font-weight: bold;
    color: #052259;
    cursor: pointer;
    width: 20%;
}
.profile-info input[type="submit"]:hover   {
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    font-size: 13px;
    border: 2px solid #052259;
    font-weight: bold;
    color: #052259;
    cursor: pointer;
    width: 20%;
}
.profile-info input[type="password"]:focus {
  border: 2px solid #052259;
}

.profile-info input[type="submit"]:hover {
  background-color: #052259;
  color: white;
}
.text-success, .success
{
    color:#11a711;
}

#result1{
    padding-bottom:10px;
}
.file-upload-section input[type="submit"]{
    margin-left:10px;
    margin-bottom:10px;
}

/*upload file revised*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
  
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
/* style 6 */

.inputfile-6 + label {
}

.inputfile-6 + label {
    background-color: rgb(235, 235, 228);;
    padding: 0;
    width:73%;

}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
  
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    width: 47%;
}

.inputfile-6 + label strong {
    height: 100%;
    display: inline-block;
    border:1px #052259 solid;
    color:#052259;
    background-color:white;
    width: 33%;
}
@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}
/*End of file upload revised*/
#main-table a {
    color:#000000;
}
#main-table .text-lightgreen a
{
    color:green !important;    
}
.text-dangerous a {
    color:red !important;    
}
#close-deals-table-rows-nav a
{
    cursor:pointer;
}
