/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
@media (min-width: 1285px) { */
body {
  /* max-width: 500px; */
  margin: 0;
  padding: auto;
  font:12px/15px Verdana,Arial, sans-serif;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
header-top {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20%;
  background: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
}

header-top img {
  float: left;
  width: 25%;
  height: 25%;

  margin-top: 1.5%;

  margin-left: auto;
  margin-right: auto;
}

header-top nav {
  float: right;
}
header-top nav ul {
  padding: 0;
  display: flex;
}
header-top nav ul li {
  list-style-type: none;
}
header-top nav ul li a {
  color: black;
  text-decoration: none;
  line-height: 50px;
  padding: 0 20px;
  /* display: block; */
  font-size: 80%;
  box-sizing: border-box;
}

header-top nav ul li a:hover {
  background-color: #af3131;
}


/* Header Bottom */

.client-registration {
  margin: auto;
  margin-top: 6.2%;
  overflow: hidden;
  background-color: #052259;
  text-align: center;
  color: white;
}

.header-down {
  margin: 0 auto;
}

.header-down ul {
  list-style-type: none;
  margin: auto;
  margin-top: 6.2%;
  overflow: hidden;
  background-color: #052259;
  display: flex;
  justify-content: center;
}
.header-down li {
  float: right;
/*  margin: 0.8%;
*/}

.header-down li a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 24px 19px 24px;
  text-decoration: none;
}

/* Footer */

footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  padding: 0 20%;
  box-sizing: border-box;
}

footer .col {
  width: 100%;
  height: auto;
  float: left;
  box-sizing: border-box;

  /* padding: 0px 20px 20px 20px; */
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-size: 80%;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgb(0, 0, 0);
  font-weight: bold;

  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #000000;
  font-size: 80%;
  font-weight: normal;
  padding: 2px 0px 2px 0px;
}

..footer .col ul li:hover {
  color: #c2c2c2;
}
.clearfix {
  clear: both;
}

/* Gridding */
.grid-container a {
  align-content: left;
  text-align: left;
  text-decoration-line: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5%;
  align-content: center;
}

.footer .address {
  margin-top: 5%;
  text-align: center;
  color: rgb(0, 0, 0);
}
.brand img {
  width: 20%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer .company-licence {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 5%;
}
.company-licence a {
  text-align: center;
  color: #1994e1;
  text-decoration-line: none;
}
.footer a:hover {
  color: #1c1242;
}

.social {
  text-align: center;
}
.social ul {
  list-style: none;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.social li {
  float: right;
}
.social li a {
  display: block;
  color: #979696;
  text-align: center;
  padding: 10px;
  font-size: 80%;
  text-decoration: none;
}

.fa-facebook-square:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-google-plus-g:hover,
.fa-youtube :hover {
  color: aqua;
}

/* Mid Division */

/* .image-banner {
          width: 100%;
          height:1000px;
          overflow: hidden;
        } */

.image-banner {
  /* overflow: hidden; */

  background-image: url("../resources/london_night_2.jpg");
  background-size: cover;
  /* width: 100%; */
  height: 400px;
}
.background-tint {
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}
..landing-image-content {
  top: 10%;
  left: 0;
  padding: 0 20%;
}

.heading-content {
  padding-top: 10%;
  color: white;
  font-size: 180%;
  font-weight: bold;
  text-align: right;
}
.sub-heading-content {
  color: white;
  font-size: 120%;
  text-align: right;
  margin-bottom: 5%;
}
.button-live-account {
  position: absolute;
  right: 20%;

  padding: 20px;
  font-size: 110%;
  word-spacing: 0.1%;
  color: white;
  /* height: 10%; */
  min-width: 185px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #64bd15;
  -webkit-border-radius: 10px;
  text-decoration-line: none;
  text-align: center;
}

.text-align-right{
  text-align: right;
}
..button-demo-account {
  margin: 3% 0;
  position: absolute;
  right: 20%;
  /* display: flex;
          justify-content: center; */

  padding: 20px;
  font-size: 110%;
  word-spacing: 0.1%;
  color: white;
  /* height: 10%; */
  min-width: 185px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2288d6;
  -webkit-border-radius: 10px;
  text-decoration-line: none;
  text-align: center;
}

.quick-features-container {
}
.quick-features-container .text-feature {
  font-size: 100%;
  text-align: center;
  align-content: center;
  padding-top: 10%;
  margin-top: 10%;
}
.quick-features-container .number {
  font-size: 250%;
  font-weight: bold;
  padding-top: 15%;
  margin-top: 15%;
}

.quick-features-container .divider {
  border-left: 2px solid #808080;
  height: 50px;
  opacity: 0.5;
}

.quick-features-container .grid-container {
  display: grid;

  grid-template-columns: 5% 0.2% 4% 6% 0.5% 4% 5% 1% 7% 1% 9% 1% 5%;
  padding: 0 20%;
  background-color: #f7f4f4;
  text-align: center;
  height: 100px;
}
.quick-features-container {
  width: 100%;
  height: auto;
  margin-top: 0.5%;
  background-color: #f7f4f4;
}
.thin-blue-divider-line {
  width: 100%;
  height: 5px;
  grid-gap: 5%;

  background-color: #052259;
}
.eight-features {
  height: 310px;
}
.eight-features .grid-container {
  text-align: center;
  display: grid;
  /* column-gap: 10%; */
  padding: 0 20%;
  grid-template-columns: auto auto auto auto;
  color: black;
  font-size: 100%;
}

.eight-features-heading {
  text-align: center;
  margin: 2%;
  font-size: 150%;
}

.eight-features img {
  /* width: 30%; */
  margin-top: 10%;

  /* height: 30%; */
  color: #808080;
}
.number {
  font-size: 250%;
  font-weight: lighter;
  margin-top: 10%;
}
.feature {
  margin-top: 10%;
}

.divider {
  border-left: 2px solid #808080;
  height: 55px;
  margin: 10px;
  opacity: 0.5;
}
.divider {
  font-size: 300%;
}
.eight-features .grid-item {
  display: flex;

  margin-top: auto;
  margin-bottom: auto;
}

.button-wrapper {
  text-align: center;
  grid-gap: 5%;

  margin-top: 2%;
}
.open-an-account {
  padding: 20px;
  font-size: 110%;
  word-spacing: 0.1%;
  color: white;
  /* height: 10%; */
  width: 20%;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #64bd15;
  -webkit-border-radius: 10px;
  text-decoration-line: none;
  /* grid-gap: 5%; */
}

/* Platform */
.platform-tabs-data {
  /* background-color: yellow; */
  padding: 0 20%;
  height: 350px;
}
.platform-tabs {
  /* background-color: green; */
}

platform-tabs ul {
  list-style-type: none;
  background-color: #000000;
  display: flex;
  justify-content: center;
}
platform-tabs li {
}

platform-tabs li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
platform-tabs li a:hover {
  background-color: #757070;
  cursor: default;
}
platform-tabs a:visited {
  background-color: #757070;
  cursor: default;
}
platform-tabs nav a:active {
  background-color: #757070;
  cursor: default;
}

.platform-tabs-list {
  list-style: square;
  display: block;
  background-color: transparent;
}
.platform-tabs-list img {
  float: right;
  margin-left: 3%;
}

.dwn-desktop {
  float: right;
  /* right: 30%;
          top: 13%; */
  text-decoration-line: none;
  padding-right: 17%;
}
.dwn-mac {
  float: right;
  text-decoration-line: none;
  padding-right: 15%;
}
.dwn-android {
  float: right;
  padding-right: 15%;

  text-decoration-line: none;
}
.dwn-ios {
  float: right;
  padding-right: 15%;

  text-decoration-line: none;
}

/* Why-Trade */
.why-trade {
  background: url("/resources/rotating-money-500-euro-bills-money-seamless-loop_vkgloxn7e__F0000.png");
  background-size: cover;
  height: 500px;
}
.background-tint-bg {
  background-color: rgba(243, 243, 243, 0.8);
  background-blend-mode: lighten;
}

.why-trade-heading {
  font-size: 150%;
  margin: 1%;
  padding-top: 50px;
}

.why-trade-grid {
}

.why-trade-grid .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5%;
  padding: 0 18%;
}
.why-trade .grid-item {
  padding: 20px;
  text-align: left;
}
.grid-item-heading {
  padding-bottom: 2%;
}

.promo-video-container {
  height: auto;
  background: #fdfafa;
}
.why-securcap-heading {
  font-size: 150%;
  margin-bottom: 1%;
  padding-top: 50px;
}

.promo-video {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Learn in 4 steps  */
.four-steps-container {
  height: auto;
}

.start-trading-4-steps {
  font-size: 150%;
  padding: 20px;
}

.four-step-circle-list li {
  margin-right: 5px;
  list-style: none;
  overflow: hidden;
  float: left;
}
.step-1,
.step-2,
.step-3,
.step-4 {
  display: table-cell;
  height: 130px; /*change this and the width
        for the size of your initial circle*/
  width: 130px;
  font-size: 80%;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #f2f0f0;
}

.four-steps-container .grid-container {
  display: grid;
  grid-template-columns: 550px 300px;
  grid-gap: 0%;
  padding: 0 20%;
}
.tier-1-banks {
  text-align: center;
  padding: 25px;
}

.button-live-account-tier-bank {
  position: absolute;
  right: 16.5%;
  margin-right: 5%;

  padding: 20px;
  font-size: 110%;
  word-spacing: 0.1%;
  color: white;

  width: 12%;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #64bd15;
  -webkit-border-radius: 10px;
  text-decoration-line: none;
  text-align: center;
}
.callback-container {
  height: auto;
}

.callback-container .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0%;
  padding: 0 20%;
}

.request-callback {
  font-size: 150%;
  padding: 20px;

}
.request-callback form{
      margin: 0 auto;
        align-items: center;
width: 50%

}

.callback-container input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  width: 63%;
  display: inline-block;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  box-sizing: border-box;
  
}

.callback-button-submit {
  padding: 10px;
  color: white;
  font-size: 100%;
  left: 10%;
  word-spacing: 0.1%;
  width: 40%;
  border-color: #ee2722;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ee2722;
  -webkit-border-radius: 10px;
  text-decoration-line: none;
  text-align: center;
}

/* IMAGE SLIDER SECTION */

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
width: 360px;height: 250px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 250px;
  background: #ccc;
  text-align: center;
  line-height: 232px;
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}




/* -------------------------------------------------------------------------------------------- */

/* Registration page */

.finance-companies {
  height: 70px;
  margin: auto;
  padding: 0 20%;
}

.finance-companies-logos {
  margin-top: 1%;
  display: inline-block;
  width: 100%;
}

.registration-container {
  width: 100%;
  height: auto;
  background: #efefef;
  padding-top: 1%;
  padding-bottom: 1%;
}

.registration-form form
 {
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.registration-form input[type="text"],
input[type="email"],
input[type="tel"],
select {
  padding: 12px 20px;
  width: 100%;
  margin: 10px 0;
  /* display: inline-block; */
  border: 1px solid #efefef;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

.registration-form input[type="submit"] {
  color: white;
  width: 50%;
  font-size: 110%;
  margin-top: 5%;
  padding: 10px;
  text-align: center;

  word-spacing: 0.1%;
  border-color: #64bd15;
  font-weight: bold;
  background-color: #64bd15;
  -webkit-border-radius: 10px;
  text-decoration-line: none;
}

.registration-container label {
  color: black;
  font-weight: bold;
  letter-spacing: 1.5px;
}

/* ----------------------------------------------------------------------------------
       */

/* Login Page */

.login-container {
  margin: auto;
  height: 400px;
  margin-top: 6.2%;
  overflow: hidden;
  background-color: #052259;

  color: white;
}

.login-container .grid-container {
  margin-top: 7%;

  display: grid;
  grid-template-columns: 55% 35%;
  padding: 0 20%;
}
.login-item-header {
  font-size: 150;
}

.login-form-container {
  box-sizing: border-box;
}
.login-form-container a {
  color: white;
  align-content: right;
}
.login-form-container input[type="text"],
input[type="password"] {
  width: 85%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin: 4% 0;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}
.login-form-container input[type="submit"] {
  width: 60%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin: 4% 25%;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  background: #ee2722;
  text-transform: uppercase;
  color: white;
}

.new-to-securcap {
  height: 300px;
}

.new-to-securcap .heading {
  text-align: center;
  font-size: 200%;
  padding-top: 5%;
}

.buttons-login {
  background: yellow;
}
.buttons-login .button-live-account {
  display: inline-block;
  margin: 2% 10% 0% 0%;
  font-size: 110%;
  word-spacing: 0.1%;
  color: white;
  width: 16%;
  font-weight: bold;
  text-transform: uppercase;
  /* background-color: #64bd15; */
  background-color: #64bd15;
  -webkit-border-radius: 10px;
  text-decoration-line: none;
}
.buttons-login .button-demo-account {
  display: inline-block;
  margin: 2% 30% 0% 0%;
  font-size: 110%;
  word-spacing: 0.1%;
  color: white;
  /* height: 10%; */
  width: 16%;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2288d6;
  -webkit-border-radius: 10px;
  text-decoration-line: none;
  text-align: center;
}

/* --------------------------------------------------------------------*/
.field-validation-error,.text-danger,text-dangerous{
    color:red;
}

.login-form-container a{
    color:#9cedf1;
    cursor:pointer;

}
input[type="submit"], button,input[type="button"]{
    cursor:pointer;
}
